body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background: #1b2316;
    overflow-x: hidden;
}

.blur-box {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


body {
    background: #1b2316;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}
 /* Hide radio buttons */
.carousel input {
    display: none;
}

/* Slides Container */
.carousel-slides {
    display: flex;
    width: 200%;          /* 2 slides = 200% */
    height: 100%;
    transition: transform 0.6s ease;
}

/* Each slide takes half width */
.slide {
    width: 50%;
}

/* CLICK Navigation */
#s1:checked ~ .slides-container .carousel-slides { 
    transform: translateX(0%); 
}
#s2:checked ~ .slides-container .carousel-slides { 
    transform: translateX(-50%); 
}

/* AUTOPLAY for 2 slides */
@keyframes autoplay {
    0%, 50%   { transform: translateX(0%); }
    51%, 100% { transform: translateX(-50%); }
}

.autoplay .carousel-slides {
    animation: autoplay 8s infinite;  /* adjust timing if needed */
}

/* Pause on Hover */
.carousel:hover .carousel-slides {
    animation-play-state: paused;
}

